        body {
            background-color: #f3f3f3;
        }

        .container {
            width: 980px;
        }

        .bg-white {
            background-color: #fff;
        }

        .header {
            margin: 80px 0 30px;
        }

            .header h1 {
                margin-bottom: 5px;
            }

            .header .description {
                color: #999;
                font-size: 16px;
            }

        .logo img {
            height: 36px;
        }

        .login-wrap {
            padding: 45px;
        }

        .login-link {
            color: #ddd;
            margin: 30px 0 80px;
        }

            .login-link a {
                color: #999;
                margin: 0 10px;
            }

        .login-title {
            margin-top: 0;
        }

        .required:after {
            color: #ed1c24;
            content: " *";
        }

        .widget-login [class*="btn-sn-"] {
            margin: 0 2px 6px 0;
        }

        .text-muted {
    color: #777;
}
p {
    margin: 0 0 10.5px;
}