<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="~/Content/bootstrap-3.3.0/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/base.css" rel="stylesheet" />
    <link href="~/Content/css/admin/common.css" rel="stylesheet" />
    @RenderSection("head", required: false)
</head>
<body>
    @RenderBody()
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Content/bootstrap-3.3.0/js/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.msgBox.js"></script>
    <script src="~/Scripts/jquery.msgProcess.js"></script>
    <!--弹出框引用-->
    <script src="~/Content/aui-artDialog-6.0.4/dist/dialog-min.js"></script>
    <!--弹出框引用-->
    @RenderSection("scripts", required: false)
</body>
</html>
