USE [WaiMai]
GO
/****** Object:  Table [dbo].[Config]    Script Date: 02/06/2015 10:17:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Config](
	[ConfigName] [nvarchar](50) NOT NULL,
	[ConfigValue] [nvarchar](2000) NOT NULL,
 CONSTRAINT [PK_Config] PRIMARY KEY CLUSTERED 
(
	[ConfigName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Config] ([ConfigName], [ConfigValue]) VALUES (N'DoModeType', N'{"DoTime":"2014-12-24T17:33:53.6939449+08:00","IsDayMode":true}')
INSERT [dbo].[Config] ([ConfigName], [ConfigValue]) VALUES (N'DoOrder', N'{"DoTime":"2014/12/23","IsDo":false}')
/****** Object:  Table [dbo].[Feedback]    Script Date: 02/06/2015 10:17:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[FeedbackID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[ContentMsg] [nvarchar](2000) NOT NULL,
	[CreateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_Feedback] PRIMARY KEY CLUSTERED 
(
	[FeedbackID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Feedback] ON
INSERT [dbo].[Feedback] ([FeedbackID], [UserID], [ContentMsg], [CreateTime]) VALUES (2, 3, N'123', CAST(0x0000A41F0112EF7F AS DateTime))
INSERT [dbo].[Feedback] ([FeedbackID], [UserID], [ContentMsg], [CreateTime]) VALUES (3, 3, N'12', CAST(0x0000A41F011310FF AS DateTime))
INSERT [dbo].[Feedback] ([FeedbackID], [UserID], [ContentMsg], [CreateTime]) VALUES (4, 3, N'123', CAST(0x0000A41F0113FC42 AS DateTime))
SET IDENTITY_INSERT [dbo].[Feedback] OFF
/****** Object:  Table [dbo].[User]    Script Date: 02/06/2015 10:17:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[IPAddress] [varchar](20) NOT NULL,
	[Amount] [decimal](18, 1) NOT NULL,
	[IsAdmin] [bit] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[IsDel] [bit] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否是管理员' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'User', @level2type=N'COLUMN',@level2name=N'IsAdmin'
GO
SET IDENTITY_INSERT [dbo].[User] ON
INSERT [dbo].[User] ([UserID], [UserName], [Password], [IPAddress], [Amount], [IsAdmin], [CreateDate], [IsDel]) VALUES (1, N'admin', N'eA8FAoKLnfJYB+wxlypdEw==', N'192.168.1.1', CAST(0.0 AS Decimal(18, 1)), 1, CAST(0x0000A3EB00000000 AS DateTime), 0)
INSERT [dbo].[User] ([UserID], [UserName], [Password], [IPAddress], [Amount], [IsAdmin], [CreateDate], [IsDel]) VALUES (2, N'匿名用户', N'eA8FAoKLnfJYB+wxlypdEw==', N'192.168.1.1', CAST(0.0 AS Decimal(18, 1)), 0, CAST(0x0000A40900000000 AS DateTime), 0)
INSERT [dbo].[User] ([UserID], [UserName], [Password], [IPAddress], [Amount], [IsAdmin], [CreateDate], [IsDel]) VALUES (3, N'江永升', N'eA8FAoKLnfJYB+wxlypdEw==', N'192.168.1.162', CAST(984.0 AS Decimal(18, 1)), 0, CAST(0x0000A40A00A0A9DC AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[User] OFF
/****** Object:  Table [dbo].[Restaurant]    Script Date: 02/06/2015 10:17:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Restaurant](
	[RestaurantID] [int] IDENTITY(1,1) NOT NULL,
	[RestaurantName] [nvarchar](50) NOT NULL,
	[SendOutCount] [int] NOT NULL,
	[TakeoutPhone] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[IsEnable] [bit] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[Creator] [nvarchar](50) NULL,
	[EditDate] [datetime] NULL,
	[Editor] [nvarchar](50) NULL,
	[IsDel] [bit] NOT NULL,
	[Version] [int] NOT NULL,
 CONSTRAINT [PK_Restaurant] PRIMARY KEY CLUSTERED 
(
	[RestaurantID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Restaurant] ON
INSERT [dbo].[Restaurant] ([RestaurantID], [RestaurantName], [SendOutCount], [TakeoutPhone], [Description], [IsEnable], [CreateDate], [Creator], [EditDate], [Editor], [IsDel], [Version]) VALUES (1, N'汇味美食', 2, N'29063852,15374007612,13360007506', NULL, 0, CAST(0x0000A3E600BDE897 AS DateTime), NULL, CAST(0x0000A3EF009BC7E2 AS DateTime), N'sys', 0, 1)
INSERT [dbo].[Restaurant] ([RestaurantID], [RestaurantName], [SendOutCount], [TakeoutPhone], [Description], [IsEnable], [CreateDate], [Creator], [EditDate], [Editor], [IsDel], [Version]) VALUES (2, N'家乐缘', 2, N'38470766/38470655', NULL, 0, CAST(0x0000A3E7009F865F AS DateTime), NULL, CAST(0x0000A3EE00A84F78 AS DateTime), N'sys', 0, 1)
INSERT [dbo].[Restaurant] ([RestaurantID], [RestaurantName], [SendOutCount], [TakeoutPhone], [Description], [IsEnable], [CreateDate], [Creator], [EditDate], [Editor], [IsDel], [Version]) VALUES (3, N'百味源', 2, N'020-38833055；020-38833056', NULL, 1, CAST(0x0000A3E9009070E4 AS DateTime), NULL, CAST(0x0000A3EE010A4C6B AS DateTime), N'sys', 0, 1)
SET IDENTITY_INSERT [dbo].[Restaurant] OFF
/****** Object:  Table [dbo].[Recharge]    Script Date: 02/06/2015 10:17:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recharge](
	[RechargeID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[RechargeAmount] [decimal](18, 1) NOT NULL,
	[OpeningBalance] [decimal](18, 1) NOT NULL,
	[CurrentBalance] [decimal](18, 1) NOT NULL,
	[Status] [int] NOT NULL,
	[Remark] [nvarchar](100) NULL,
	[CreateDate] [datetime] NOT NULL,
	[RechargeUserName] [nvarchar](50) NOT NULL,
	[IsDel] [bit] NOT NULL,
 CONSTRAINT [PK_Recharge] PRIMARY KEY CLUSTERED 
(
	[RechargeID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1充值成功' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Recharge', @level2type=N'COLUMN',@level2name=N'Status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'充值人' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Recharge', @level2type=N'COLUMN',@level2name=N'RechargeUserName'
GO
SET IDENTITY_INSERT [dbo].[Recharge] ON
INSERT [dbo].[Recharge] ([RechargeID], [UserID], [RechargeAmount], [OpeningBalance], [CurrentBalance], [Status], [Remark], [CreateDate], [RechargeUserName], [IsDel]) VALUES (1, 3, CAST(20.0 AS Decimal(18, 1)), CAST(0.0 AS Decimal(18, 1)), CAST(20.0 AS Decimal(18, 1)), 1, NULL, CAST(0x0000A40A00A1A19C AS DateTime), N'sys', 0)
INSERT [dbo].[Recharge] ([RechargeID], [UserID], [RechargeAmount], [OpeningBalance], [CurrentBalance], [Status], [Remark], [CreateDate], [RechargeUserName], [IsDel]) VALUES (2, 4, CAST(100.0 AS Decimal(18, 1)), CAST(0.0 AS Decimal(18, 1)), CAST(100.0 AS Decimal(18, 1)), 1, NULL, CAST(0x0000A40A00A33475 AS DateTime), N'sys', 0)
INSERT [dbo].[Recharge] ([RechargeID], [UserID], [RechargeAmount], [OpeningBalance], [CurrentBalance], [Status], [Remark], [CreateDate], [RechargeUserName], [IsDel]) VALUES (3, 6, CAST(50.0 AS Decimal(18, 1)), CAST(0.0 AS Decimal(18, 1)), CAST(50.0 AS Decimal(18, 1)), 1, NULL, CAST(0x0000A40A00A55F06 AS DateTime), N'sys', 0)
SET IDENTITY_INSERT [dbo].[Recharge] OFF
/****** Object:  Table [dbo].[Sarcasm]    Script Date: 02/06/2015 10:17:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sarcasm](
	[SarcasmID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Content] [nvarchar](4000) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[IsDel] [bit] NOT NULL,
 CONSTRAINT [PK_Sarcasm] PRIMARY KEY CLUSTERED 
(
	[SarcasmID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Sarcasm] ON
INSERT [dbo].[Sarcasm] ([SarcasmID], [UserID], [Content], [CreateDate], [IsDel]) VALUES (1, 3, N'拉拉拉，感觉还不错拉', CAST(0x0000A41F010001AE AS DateTime), 0)
INSERT [dbo].[Sarcasm] ([SarcasmID], [UserID], [Content], [CreateDate], [IsDel]) VALUES (2, 2, N'123465678', CAST(0x0000A41F01150421 AS DateTime), 0)
INSERT [dbo].[Sarcasm] ([SarcasmID], [UserID], [Content], [CreateDate], [IsDel]) VALUES (3, 1, N'今天天气不错呀，哇哈哈', CAST(0x0000A42100934EF8 AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Sarcasm] OFF
/****** Object:  Table [dbo].[ExpendLog]    Script Date: 02/06/2015 10:17:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExpendLog](
	[ExpendLogID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[ExpendLogTypeID] [int] NOT NULL,
	[ExpendLogType] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[ConsumeAmount] [decimal](18, 1) NOT NULL,
	[RechargeAmount] [decimal](18, 1) NOT NULL,
	[Description] [nvarchar](200) NULL,
 CONSTRAINT [PK_ExpendLog] PRIMARY KEY CLUSTERED 
(
	[ExpendLogID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ExpendLog] ON
INSERT [dbo].[ExpendLog] ([ExpendLogID], [UserID], [ExpendLogTypeID], [ExpendLogType], [CreateDate], [ConsumeAmount], [RechargeAmount], [Description]) VALUES (1, 3, 1, 1, CAST(0x0000A40A00A1A1A6 AS DateTime), CAST(0.0 AS Decimal(18, 1)), CAST(20.0 AS Decimal(18, 1)), N'充值完成增加金额')
INSERT [dbo].[ExpendLog] ([ExpendLogID], [UserID], [ExpendLogTypeID], [ExpendLogType], [CreateDate], [ConsumeAmount], [RechargeAmount], [Description]) VALUES (2, 4, 2, 1, CAST(0x0000A40A00A33475 AS DateTime), CAST(0.0 AS Decimal(18, 1)), CAST(100.0 AS Decimal(18, 1)), N'充值完成增加金额')
INSERT [dbo].[ExpendLog] ([ExpendLogID], [UserID], [ExpendLogTypeID], [ExpendLogType], [CreateDate], [ConsumeAmount], [RechargeAmount], [Description]) VALUES (3, 3, 935, 2, CAST(0x0000A40A00A4564A AS DateTime), CAST(17.0 AS Decimal(18, 1)), CAST(0.0 AS Decimal(18, 1)), N'订餐完成消耗金额')
SET IDENTITY_INSERT [dbo].[ExpendLog] OFF
/****** Object:  Table [dbo].[FoodMenuCategory]    Script Date: 02/06/2015 10:17:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FoodMenuCategory](
	[FoodMenuCategoryID] [int] IDENTITY(1,1) NOT NULL,
	[RestaurantID] [int] NOT NULL,
	[CName] [nvarchar](50) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[Creator] [nvarchar](50) NULL,
	[EditDate] [datetime] NULL,
	[Editor] [nvarchar](50) NULL,
	[IsSale] [bit] NOT NULL,
	[IsDel] [bit] NOT NULL,
	[Version] [int] NOT NULL,
 CONSTRAINT [PK_FoodMenuCategory] PRIMARY KEY CLUSTERED 
(
	[FoodMenuCategoryID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[FoodMenuCategory] ON
INSERT [dbo].[FoodMenuCategory] ([FoodMenuCategoryID], [RestaurantID], [CName], [CreateDate], [Creator], [EditDate], [Editor], [IsSale], [IsDel], [Version]) VALUES (1, 1, N'传统广式烧腊推荐', CAST(0x0000A3E600BE131E AS DateTime), NULL, NULL, NULL, 1, 0, 1)
INSERT [dbo].[FoodMenuCategory] ([FoodMenuCategoryID], [RestaurantID], [CName], [CreateDate], [Creator], [EditDate], [Editor], [IsSale], [IsDel], [Version]) VALUES (2, 1, N'烧腊美味双拼', CAST(0x0000A3E600BE21FE AS DateTime), NULL, NULL, NULL, 1, 0, 1)
INSERT [dbo].[FoodMenuCategory] ([FoodMenuCategoryID], [RestaurantID], [CName], [CreateDate], [Creator], [EditDate], [Editor], [IsSale], [IsDel], [Version]) VALUES (3, 1, N'开心加料', CAST(0x0000A3E600BE2F9E AS DateTime), NULL, NULL, NULL, 1, 0, 1)
SET IDENTITY_INSERT [dbo].[FoodMenuCategory] OFF
/****** Object:  Table [dbo].[FoodMenu]    Script Date: 02/06/2015 10:17:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FoodMenu](
	[FoodMenuID] [int] IDENTITY(1,1) NOT NULL,
	[FoodMenuCategoryID] [int] NOT NULL,
	[MenuName] [nvarchar](50) NOT NULL,
	[Price] [decimal](18, 1) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[Creator] [nvarchar](50) NULL,
	[EditDate] [datetime] NULL,
	[Editor] [nvarchar](50) NULL,
	[IsSale] [bit] NOT NULL,
	[IsDel] [bit] NOT NULL,
	[Version] [int] NOT NULL,
 CONSTRAINT [PK_FoodMenu] PRIMARY KEY CLUSTERED 
(
	[FoodMenuID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[FoodMenu] ON
INSERT [dbo].[FoodMenu] ([FoodMenuID], [FoodMenuCategoryID], [MenuName], [Price], [CreateDate], [Creator], [EditDate], [Editor], [IsSale], [IsDel], [Version]) VALUES (1, 1, N'烧鸭头饭', CAST(8.0 AS Decimal(18, 1)), CAST(0x0000A3E600BECA47 AS DateTime), NULL, NULL, NULL, 1, 0, 1)
INSERT [dbo].[FoodMenu] ([FoodMenuID], [FoodMenuCategoryID], [MenuName], [Price], [CreateDate], [Creator], [EditDate], [Editor], [IsSale], [IsDel], [Version]) VALUES (2, 1, N'豉油鸡亦饭', CAST(10.0 AS Decimal(18, 1)), CAST(0x0000A3E600BF313B AS DateTime), NULL, CAST(0x0000A3E600C014DF AS DateTime), N'sys', 1, 0, 1)
INSERT [dbo].[FoodMenu] ([FoodMenuID], [FoodMenuCategoryID], [MenuName], [Price], [CreateDate], [Creator], [EditDate], [Editor], [IsSale], [IsDel], [Version]) VALUES (3, 1, N'白切鸡亦饭', CAST(10.0 AS Decimal(18, 1)), CAST(0x0000A3E600BFA19D AS DateTime), NULL, NULL, NULL, 1, 0, 1)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
SET IDENTITY_INSERT [dbo].[FoodMenu] OFF
/****** Object:  Table [dbo].[Comment]    Script Date: 02/06/2015 10:17:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[CommentID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[SarcasmID] [int] NOT NULL,
	[Content] [nvarchar](200) NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[IsDel] [bit] NOT NULL,
 CONSTRAINT [PK_Comment] PRIMARY KEY CLUSTERED 
(
	[CommentID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Comment] ON
INSERT [dbo].[Comment] ([CommentID], [UserID], [SarcasmID], [Content], [CreateTime], [IsDel]) VALUES (1, 3, 1, N'k', CAST(0x0000A41F0114F26C AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Comment] OFF
/****** Object:  Table [dbo].[Order]    Script Date: 02/06/2015 10:17:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[FoodMenuID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[TotalCount] [int] NOT NULL,
	[TotalPrice] [decimal](18, 1) NOT NULL,
	[NickName] [nvarchar](100) NULL,
	[Remark] [nvarchar](100) NULL,
	[OrderStatus] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[Creator] [nvarchar](50) NULL,
	[EditDate] [datetime] NULL,
	[Editor] [nvarchar](50) NULL,
	[IsDel] [bit] NOT NULL,
	[Version] [int] NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Order] ON
INSERT [dbo].[Order] ([OrderID], [FoodMenuID], [UserID], [TotalCount], [TotalPrice], [NickName], [Remark], [OrderStatus], [CreateDate], [Creator], [EditDate], [Editor], [IsDel], [Version]) VALUES (1, 62, 2, 1, CAST(10.0 AS Decimal(18, 1)), N'杨海涛       ', NULL, 2, CAST(0x0000A3E600E0D40D AS DateTime), NULL, NULL, NULL, 1, 1)
INSERT [dbo].[Order] ([OrderID], [FoodMenuID], [UserID], [TotalCount], [TotalPrice], [NickName], [Remark], [OrderStatus], [CreateDate], [Creator], [EditDate], [Editor], [IsDel], [Version]) VALUES (2, 38, 2, 1, CAST(2.0 AS Decimal(18, 1)), N'杨海涛       ', NULL, 2, CAST(0x0000A3E600E0EB92 AS DateTime), NULL, NULL, NULL, 1, 1)
INSERT [dbo].[Order] ([OrderID], [FoodMenuID], [UserID], [TotalCount], [TotalPrice], [NickName], [Remark], [OrderStatus], [CreateDate], [Creator], [EditDate], [Editor], [IsDel], [Version]) VALUES (3, 28, 2, 1, CAST(14.0 AS Decimal(18, 1)), N'周彦斌       ', NULL, 2, CAST(0x0000A3E7009E8A9F AS DateTime), NULL, NULL, NULL, 1, 1)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
SET IDENTITY_INSERT [dbo].[Order] OFF
/****** Object:  Default [DF_FoodMenu_IsSale]    Script Date: 02/06/2015 10:17:20 ******/
ALTER TABLE [dbo].[FoodMenu] ADD  CONSTRAINT [DF_FoodMenu_IsSale]  DEFAULT ((1)) FOR [IsSale]
GO
/****** Object:  Default [DF_FoodMenuCategory_IsSale]    Script Date: 02/06/2015 10:17:20 ******/
ALTER TABLE [dbo].[FoodMenuCategory] ADD  CONSTRAINT [DF_FoodMenuCategory_IsSale]  DEFAULT ((1)) FOR [IsSale]
GO
/****** Object:  Default [DF_Order_OrderStatus]    Script Date: 02/06/2015 10:17:20 ******/
ALTER TABLE [dbo].[Order] ADD  CONSTRAINT [DF_Order_OrderStatus]  DEFAULT ((0)) FOR [OrderStatus]
GO
/****** Object:  Default [DF_Restaurant_SendOutCount]    Script Date: 02/06/2015 10:17:20 ******/
ALTER TABLE [dbo].[Restaurant] ADD  CONSTRAINT [DF_Restaurant_SendOutCount]  DEFAULT ((0)) FOR [SendOutCount]
GO
/****** Object:  Default [DF_User_IsAdmin]    Script Date: 02/06/2015 10:17:20 ******/
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_IsAdmin]  DEFAULT ((0)) FOR [IsAdmin]
GO
/****** Object:  ForeignKey [FK_Comment_Sarcasm]    Script Date: 02/06/2015 10:17:20 ******/
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Sarcasm] FOREIGN KEY([SarcasmID])
REFERENCES [dbo].[Sarcasm] ([SarcasmID])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Sarcasm]
GO
/****** Object:  ForeignKey [FK_Comment_User]    Script Date: 02/06/2015 10:17:20 ******/
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_User]
GO
/****** Object:  ForeignKey [FK_ExpendLog_User]    Script Date: 02/06/2015 10:17:20 ******/
ALTER TABLE [dbo].[ExpendLog]  WITH CHECK ADD  CONSTRAINT [FK_ExpendLog_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[ExpendLog] CHECK CONSTRAINT [FK_ExpendLog_User]
GO
/****** Object:  ForeignKey [FK_FoodMenu_FoodMenuCategory]    Script Date: 02/06/2015 10:17:20 ******/
ALTER TABLE [dbo].[FoodMenu]  WITH CHECK ADD  CONSTRAINT [FK_FoodMenu_FoodMenuCategory] FOREIGN KEY([FoodMenuCategoryID])
REFERENCES [dbo].[FoodMenuCategory] ([FoodMenuCategoryID])
GO
ALTER TABLE [dbo].[FoodMenu] CHECK CONSTRAINT [FK_FoodMenu_FoodMenuCategory]
GO
/****** Object:  ForeignKey [FK_FoodMenuCategory_Restaurant]    Script Date: 02/06/2015 10:17:20 ******/
ALTER TABLE [dbo].[FoodMenuCategory]  WITH CHECK ADD  CONSTRAINT [FK_FoodMenuCategory_Restaurant] FOREIGN KEY([RestaurantID])
REFERENCES [dbo].[Restaurant] ([RestaurantID])
GO
ALTER TABLE [dbo].[FoodMenuCategory] CHECK CONSTRAINT [FK_FoodMenuCategory_Restaurant]
GO
/****** Object:  ForeignKey [FK_Order_FoodMenu]    Script Date: 02/06/2015 10:17:20 ******/
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_FoodMenu] FOREIGN KEY([FoodMenuID])
REFERENCES [dbo].[FoodMenu] ([FoodMenuID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_FoodMenu]
GO
/****** Object:  ForeignKey [FK_Order_User]    Script Date: 02/06/2015 10:17:20 ******/
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_User]
GO
/****** Object:  ForeignKey [FK_Recharge_User]    Script Date: 02/06/2015 10:17:20 ******/
ALTER TABLE [dbo].[Recharge]  WITH CHECK ADD  CONSTRAINT [FK_Recharge_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Recharge] CHECK CONSTRAINT [FK_Recharge_User]
GO
/****** Object:  ForeignKey [FK_Sarcasm_User]    Script Date: 02/06/2015 10:17:20 ******/
ALTER TABLE [dbo].[Sarcasm]  WITH CHECK ADD  CONSTRAINT [FK_Sarcasm_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Sarcasm] CHECK CONSTRAINT [FK_Sarcasm_User]
GO
