USE [WaiMai_Product]
GO
/****** Object:  Table [dbo].[Config]    Script Date: 12/09/2014 18:25:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Config](
	[ConfigName] [nvarchar](50) NOT NULL,
	[ConfigValue] [nvarchar](2000) NOT NULL,
 CONSTRAINT [PK_Config] PRIMARY KEY CLUSTERED 
(
	[ConfigName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Config] ([ConfigName], [ConfigValue]) VALUES (N'DoOrder', N'{"DoTime":"2014/12/9","IsDo":false}')
/****** Object:  Table [dbo].[Account]    Script Date: 12/09/2014 18:25:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Account](
	[AccountID] [int] NOT NULL,
	[AccountName] [nvarchar](50) NOT NULL,
	[IPAddress] [varchar](20) NOT NULL,
	[Amount] [decimal](18, 0) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[IsDel] [bit] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Restaurant]    Script Date: 12/09/2014 18:25:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Restaurant](
	[RestaurantID] [int] IDENTITY(1,1) NOT NULL,
	[RestaurantName] [nvarchar](50) NOT NULL,
	[SendOutCount] [int] NOT NULL,
	[TakeoutPhone] [nvarchar](50) NOT NULL,
	[IsEnable] [bit] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[Creator] [nvarchar](50) NULL,
	[EditDate] [datetime] NULL,
	[Editor] [nvarchar](50) NULL,
	[IsDel] [bit] NOT NULL,
	[Version] [int] NOT NULL,
 CONSTRAINT [PK_Restaurant] PRIMARY KEY CLUSTERED 
(
	[RestaurantID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Restaurant] ON
INSERT [dbo].[Restaurant] ([RestaurantID], [RestaurantName], [SendOutCount], [TakeoutPhone], [IsEnable], [CreateDate], [Creator], [EditDate], [Editor], [IsDel], [Version]) VALUES (1, N'汇味美食', 2, N'29063852,15374007612,13360007506', 0, CAST(0x0000A3E600BDE897 AS DateTime), NULL, CAST(0x0000A3EF009BC7E2 AS DateTime), N'sys', 0, 1)
INSERT [dbo].[Restaurant] ([RestaurantID], [RestaurantName], [SendOutCount], [TakeoutPhone], [IsEnable], [CreateDate], [Creator], [EditDate], [Editor], [IsDel], [Version]) VALUES (2, N'家乐缘', 2, N'38470766/38470655', 0, CAST(0x0000A3E7009F865F AS DateTime), NULL, CAST(0x0000A3EE00A84F78 AS DateTime), N'sys', 0, 1)
INSERT [dbo].[Restaurant] ([RestaurantID], [RestaurantName], [SendOutCount], [TakeoutPhone], [IsEnable], [CreateDate], [Creator], [EditDate], [Editor], [IsDel], [Version]) VALUES (3, N'百味源', 2, N'020-38833055；020-38833056', 0, CAST(0x0000A3E9009070E4 AS DateTime), NULL, CAST(0x0000A3EE010A4C6B AS DateTime), N'sys', 0, 1)
SET IDENTITY_INSERT [dbo].[Restaurant] OFF
/****** Object:  Table [dbo].[Recharge]    Script Date: 12/09/2014 18:25:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recharge](
	[RechargeID] [int] IDENTITY(1,1) NOT NULL,
	[AccountID] [int] NOT NULL,
	[Amount] [decimal](18, 0) NOT NULL,
	[Status] [int] NOT NULL,
	[IsDel] [bit] NOT NULL,
 CONSTRAINT [PK_Recharge] PRIMARY KEY CLUSTERED 
(
	[RechargeID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1充值成功' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Recharge', @level2type=N'COLUMN',@level2name=N'Status'
GO
/****** Object:  Table [dbo].[FoodMenuCategory]    Script Date: 12/09/2014 18:25:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FoodMenuCategory](
	[FoodMenuCategoryID] [int] IDENTITY(1,1) NOT NULL,
	[RestaurantID] [int] NOT NULL,
	[CName] [nvarchar](50) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[Creator] [nvarchar](50) NULL,
	[EditDate] [datetime] NULL,
	[Editor] [nvarchar](50) NULL,
	[IsSale] [bit] NOT NULL,
	[IsDel] [bit] NOT NULL,
	[Version] [int] NOT NULL,
 CONSTRAINT [PK_FoodMenuCategory] PRIMARY KEY CLUSTERED 
(
	[FoodMenuCategoryID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[FoodMenuCategory] ON
INSERT [dbo].[FoodMenuCategory] ([FoodMenuCategoryID], [RestaurantID], [CName], [CreateDate], [Creator], [EditDate], [Editor], [IsSale], [IsDel], [Version]) VALUES (1, 1, N'传统广式烧腊推荐', CAST(0x0000A3E600BE131E AS DateTime), NULL, NULL, NULL, 1, 0, 1)
INSERT [dbo].[FoodMenuCategory] ([FoodMenuCategoryID], [RestaurantID], [CName], [CreateDate], [Creator], [EditDate], [Editor], [IsSale], [IsDel], [Version]) VALUES (2, 1, N'烧腊美味双拼', CAST(0x0000A3E600BE21FE AS DateTime), NULL, NULL, NULL, 1, 0, 1)
INSERT [dbo].[FoodMenuCategory] ([FoodMenuCategoryID], [RestaurantID], [CName], [CreateDate], [Creator], [EditDate], [Editor], [IsSale], [IsDel], [Version]) VALUES (3, 1, N'开心加料', CAST(0x0000A3E600BE2F9E AS DateTime), NULL, NULL, NULL, 1, 0, 1)
SET IDENTITY_INSERT [dbo].[FoodMenuCategory] OFF
/****** Object:  Table [dbo].[FoodMenu]    Script Date: 12/09/2014 18:25:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FoodMenu](
	[FoodMenuID] [int] IDENTITY(1,1) NOT NULL,
	[FoodMenuCategoryID] [int] NOT NULL,
	[MenuName] [nvarchar](50) NOT NULL,
	[Price] [decimal](18, 1) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[Creator] [nvarchar](50) NULL,
	[EditDate] [datetime] NULL,
	[Editor] [nvarchar](50) NULL,
	[IsSale] [bit] NOT NULL,
	[IsDel] [bit] NOT NULL,
	[Version] [int] NOT NULL,
 CONSTRAINT [PK_FoodMenu] PRIMARY KEY CLUSTERED 
(
	[FoodMenuID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[FoodMenu] ON
INSERT [dbo].[FoodMenu] ([FoodMenuID], [FoodMenuCategoryID], [MenuName], [Price], [CreateDate], [Creator], [EditDate], [Editor], [IsSale], [IsDel], [Version]) VALUES (1, 1, N'烧鸭头饭', CAST(8.0 AS Decimal(18, 1)), CAST(0x0000A3E600BECA47 AS DateTime), NULL, NULL, NULL, 1, 0, 1)
INSERT [dbo].[FoodMenu] ([FoodMenuID], [FoodMenuCategoryID], [MenuName], [Price], [CreateDate], [Creator], [EditDate], [Editor], [IsSale], [IsDel], [Version]) VALUES (2, 1, N'豉油鸡饭', CAST(10.0 AS Decimal(18, 1)), CAST(0x0000A3E600BF313B AS DateTime), NULL, CAST(0x0000A3E600C014DF AS DateTime), N'sys', 1, 0, 1)
INSERT [dbo].[FoodMenu] ([FoodMenuID], [FoodMenuCategoryID], [MenuName], [Price], [CreateDate], [Creator], [EditDate], [Editor], [IsSale], [IsDel], [Version]) VALUES (3, 1, N'白切鸡亦饭', CAST(9.0 AS Decimal(18, 1)), CAST(0x0000A3E600BFA19D AS DateTime), NULL, NULL, NULL, 1, 0, 1)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
SET IDENTITY_INSERT [dbo].[FoodMenu] OFF
/****** Object:  Table [dbo].[Order]    Script Date: 12/09/2014 18:25:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[FoodMenuID] [int] NOT NULL,
	[TotalCount] [int] NOT NULL,
	[TotalPrice] [decimal](18, 1) NOT NULL,
	[NickName] [nchar](10) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[Creator] [nvarchar](50) NULL,
	[EditDate] [datetime] NULL,
	[Editor] [nvarchar](50) NULL,
	[IsDel] [bit] NOT NULL,
	[Version] [int] NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Order] ON
INSERT [dbo].[Order] ([OrderID], [FoodMenuID], [TotalCount], [TotalPrice], [NickName], [CreateDate], [Creator], [EditDate], [Editor], [IsDel], [Version]) VALUES (1, 62, 1, CAST(10.0 AS Decimal(18, 1)), N'杨海涛       ', CAST(0x0000A3E600E0D40D AS DateTime), NULL, NULL, NULL, 1, 1)
INSERT [dbo].[Order] ([OrderID], [FoodMenuID], [TotalCount], [TotalPrice], [NickName], [CreateDate], [Creator], [EditDate], [Editor], [IsDel], [Version]) VALUES (2, 38, 1, CAST(2.0 AS Decimal(18, 1)), N'杨海涛       ', CAST(0x0000A3E600E0EB92 AS DateTime), NULL, NULL, NULL, 1, 1)
INSERT [dbo].[Order] ([OrderID], [FoodMenuID], [TotalCount], [TotalPrice], [NickName], [CreateDate], [Creator], [EditDate], [Editor], [IsDel], [Version]) VALUES (3, 28, 1, CAST(14.0 AS Decimal(18, 1)), N'周彦斌       ', CAST(0x0000A3E7009E8A9F AS DateTime), NULL, NULL, NULL, 1, 1)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
SET IDENTITY_INSERT [dbo].[Order] OFF
/****** Object:  Default [DF_FoodMenu_IsSale]    Script Date: 12/09/2014 18:25:45 ******/
ALTER TABLE [dbo].[FoodMenu] ADD  CONSTRAINT [DF_FoodMenu_IsSale]  DEFAULT ((1)) FOR [IsSale]
GO
/****** Object:  Default [DF_FoodMenuCategory_IsSale]    Script Date: 12/09/2014 18:25:45 ******/
ALTER TABLE [dbo].[FoodMenuCategory] ADD  CONSTRAINT [DF_FoodMenuCategory_IsSale]  DEFAULT ((1)) FOR [IsSale]
GO
/****** Object:  Default [DF_Restaurant_SendOutCount]    Script Date: 12/09/2014 18:25:45 ******/
ALTER TABLE [dbo].[Restaurant] ADD  CONSTRAINT [DF_Restaurant_SendOutCount]  DEFAULT ((0)) FOR [SendOutCount]
GO
/****** Object:  ForeignKey [FK_FoodMenu_FoodMenuCategory]    Script Date: 12/09/2014 18:25:45 ******/
ALTER TABLE [dbo].[FoodMenu]  WITH CHECK ADD  CONSTRAINT [FK_FoodMenu_FoodMenuCategory] FOREIGN KEY([FoodMenuCategoryID])
REFERENCES [dbo].[FoodMenuCategory] ([FoodMenuCategoryID])
GO
ALTER TABLE [dbo].[FoodMenu] CHECK CONSTRAINT [FK_FoodMenu_FoodMenuCategory]
GO
/****** Object:  ForeignKey [FK_FoodMenuCategory_Restaurant]    Script Date: 12/09/2014 18:25:45 ******/
ALTER TABLE [dbo].[FoodMenuCategory]  WITH CHECK ADD  CONSTRAINT [FK_FoodMenuCategory_Restaurant] FOREIGN KEY([RestaurantID])
REFERENCES [dbo].[Restaurant] ([RestaurantID])
GO
ALTER TABLE [dbo].[FoodMenuCategory] CHECK CONSTRAINT [FK_FoodMenuCategory_Restaurant]
GO
/****** Object:  ForeignKey [FK_Order_FoodMenu]    Script Date: 12/09/2014 18:25:45 ******/
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_FoodMenu] FOREIGN KEY([FoodMenuID])
REFERENCES [dbo].[FoodMenu] ([FoodMenuID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_FoodMenu]
GO
/****** Object:  ForeignKey [FK_Recharge_Account]    Script Date: 12/09/2014 18:25:45 ******/
ALTER TABLE [dbo].[Recharge]  WITH CHECK ADD  CONSTRAINT [FK_Recharge_Account] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[Recharge] CHECK CONSTRAINT [FK_Recharge_Account]
GO
