@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
    <link href="~/Content/css/admin/common.css" rel="stylesheet" />
    @RenderSection("head", required: false)
}
@section scripts {
    @*<script src="~/Scripts/jquery.msgBox.js"></script>
        <script src="~/Scripts/jquery.msgProcess.js"></script>*@
    @RenderSection("scripts", required: false)
}
<div class="wrapper">
    <div class="container">
        <div class="user-content clearfix">
            <div class="user-menu ">
                <div class="menu-wrap">
                    <div class="user-title">
                        <h4>管理中心</h4>
                    </div>
                    <div class="menu_sec">
                        <div class="menu_title">个人中心</div>
                        <ul>
                            <li class="myinfo">
                                <a href="/admin">我的首页</a>
                            </li>
                            <li class="recharge">
                                <a href="/admin/recharge">用户充值</a>
                            </li>
                            <li class="expend">
                                <a href="/admin/user/expendlog">我的消费</a>
                            </li>
                            <li class="myorder">
                                <a href="/admin/user/myorder">我的订单</a>
                            </li>
                        </ul>
                    </div>
                    <div class="menu_sec">
                        <div class="menu_title">餐厅菜单</div>
                        <ul>
                            <li class="restaurant">
                                <a href="/admin/restaurant">餐厅管理</a>
                            </li>
                            <li class="foodmenucategory">
                                <a href="/admin/foodmenucategory">菜单类别</a>
                            </li>
                            <li class="foodmenu">
                                <a href="/admin/foodmenu">菜单录入</a>
                            </li>

                        </ul>
                    </div>
                    <div class="menu_sec">
                        <div class="menu_title">报表中心</div>
                        <ul>
                            <li class="repUser">
                                <a href="/admin/Report/RepUser">用户报表</a>
                            </li>
                            <li class="repOrder">
                                <a href="/admin/report/reporder">订单查看</a>
                            </li>
                        </ul>
                    </div>
                    <div class="menu_sec">
                        <div class="menu_title">账户管理</div>
                        <ul>
                            <li class="password">
                                <a href="/Account/changepassword">修改密码</a>
                            </li>
                            <li class="resetPassword">
                                <a href="/admin/home/resetPassword">重置密码</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="user-detail">
                @RenderBody()
            </div>
        </div>
    </div>
</div>