<?xml version="1.0" encoding="utf-8"?>


<sqlMapConfig
  xmlns="http://ibatis.apache.org/dataMapper"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <properties resource="properties.config"/>

  <settings>
    <setting useStatementNamespaces="false"/>
    <setting cacheModelsEnabled="true"/>
  </settings>  

  <providers embedded="PP.WaiMai.DaoCfg.providers.config, PP.WaiMai.DaoCfg" />

  <database>
    <provider name="sqlServer2005"/>
    <dataSource name="pp" connectionString="${PPMoney}"/>
  </database>

  

  <sqlMaps>
    <sqlMap embedded="PP.WaiMai.DaoCfg.SqlMap.SQL.Restaurant.xml, PP.WaiMai.DaoCfg"/>
    <sqlMap embedded="PP.WaiMai.DaoCfg.SqlMap.SQL.FoodMenuCategory.xml, PP.WaiMai.DaoCfg"/>
    <sqlMap embedded="PP.WaiMai.DaoCfg.SqlMap.SQL.FoodMenu.xml, PP.WaiMai.DaoCfg"/>
    <sqlMap embedded="PP.WaiMai.DaoCfg.SqlMap.SQL.Order.xml, PP.WaiMai.DaoCfg"/>
    <sqlMap embedded="PP.WaiMai.DaoCfg.SqlMap.SQL.Config.xml, PP.WaiMai.DaoCfg"/>
  </sqlMaps>

</sqlMapConfig>
