
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutUser.cshtml";
}

@section head{
    <style type="text/css">
        /*左边样式的变化*/
        .user-menu .menu_sec li.resetPassword {
            background: none repeat scroll 0 0 #fff;
            border-bottom: 1px solid #e5e5e5;
            border-left: 3px solid #e95c00;
            border-top: 1px solid #e5e5e5;
            padding: 8px 0 8px 37px;
        }
    </style>
}
@section Scripts {
    <script type="text/javascript">
        $(function () {
            $("#select-user").click(function () {
                top.dialog({
                    width: 300,
                    height: 550,
                    scrolling: "yes",
                    url: "/admin/recharge/SelectUser",
                    onclose: function () {
                        //接收对方返回的数据
                        var strTemp = this.returnValue;
                        if (strTemp && strTemp != null) {
                            var index = strTemp.indexOf("_");
                            var userId = strTemp.substring(0, index);
                            var userName = strTemp.substring(index + 1);
                            $("#UserID").val(userId);
                            $("#UserName").val(userName);
                        }
                    }
                }).showModal();
            });
            //充值
            $("#reset-submit").click(function () {
                wrapper.buttonDialog("提示", "是否要重置该用户的密码为pp123456？", function () {
                    var userId = $("#UserID").val();
                    if (!userId || userId == '') {
                        wrapper.timeoutErrDialog("请先选择充值用户");
                        return;
                    }
                    $("#reset-submit").submit();
                })
            });
        });
        //操作成功
        function onSuccessed(jsonData) {
            $.artDialogMsg(jsonData, function () {
                window.location.reload();
            }, null);
        }
    </script>
}
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            重置密码 <small></small>
        </h3>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="/">首页</a>
            </li>
            <li>
                重置密
            </li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet">
            <!--用户充值-->
            <div class="recharge-box" style="margin: 0 0 20px;">
                <div role="alert" class="alert alert-danger">
                    <span>亲，需要重置密码为pp123456，麻烦请找管理员操作！</span>
                </div>
                @using (Ajax.BeginForm("ResetPassword", "Home", new AjaxOptions() { HttpMethod = "Post", OnSuccess = "onSuccessed" }, new { @class = "form-inline", role = "form", id = "SubmitForm" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" id="select-user" type="button">＝选择用户＝</button>
                                </span>
                                <input type="hidden" name="UserID" id="UserID">
                                <input type="text" class="form-control" id="UserName" placeholder="用户名" disabled>
                            </div><!-- /input-group -->
                        </div><!-- /.col-lg-6 -->
                        <div class="col-lg-2">
                            <button type="button" id="reset-submit" class="btn btn-default">重置密码</button>
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>
</div>
