@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/css/animate/animate.css" rel="stylesheet" />
<link href="~/Content/css/home.css" rel="stylesheet" />
<div class="banner" id="templatemo_banner_slide">
    <ul>
        <li class="templatemo_banner_slide_01">
            <div class="slide_caption">
                <h1 class="animated zoomIn">
                    <img src="~/Content/images/home/lovetogether.png" />
                </h1>
                <p class="animated fadeInDown">生命的轨迹中总会有孤独，有想念，还有离别，</p>
                <p class="animated fadeInDown">但是，请不要忘记，我们会一直和你在一起。</p>
                <p class="animated fadeInDown">生活再艰辛，也要记得</p>
                <p class="animated fadeInDown">按时吃饭！</p>
            </div>
        </li>
        @*<li class="templatemo_banner_slide_02">
                <div class="slide_caption">
                    <h1>Free HTML5 Template</h1>
                    <p>Nulla in nibh arcu. Donec quam neque, porta at pellentesque at, imperdiet ut velit. Pellentesque luctus ac nunc et hendrerit. Aliquam eu scelerisque eros. Vestibulum scelerisque mi nec augue condimentum rhoncus.</p>
                </div>
            </li>
                    <li class="templatemo_banner_slide_03">
                <div class="slide_caption">
                    <h1>Mobile Ready</h1>
                    <p>Cras fermentum convallis elementum. Praesent sit amet auctor erat, vitae auctor dolor. Sed viverra nunc magna, quis placerat augue pellentesque quis. Sed nec pellentesque dolor. Aenean in lectus enim. Phasellus eu egestas libero. Vivamus ultrices ligula a dapibus lobortis.</p>
                </div>
            </li>*@
    </ul>
</div>

<section class="single-page" id="templatemo_events">
    <div class="container">
        <div class="align">
            <i class="fa fa-desktop"></i>
        </div>
        <h1 id="folio-headline">请选择您喜欢的餐厅</h1>
        @{
            //由于当前只显示两个餐厅，因而，可以假设定两张图片
            int j = 0;
            List<string> imgList = new List<string>();
            imgList.Add("templatemo_event_01.jpg");
            imgList.Add("templatemo_event_02.jpg");

            foreach (var item in ViewBag.RestaurantList as List<Restaurant>)
            {
                <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0">

                    <a href="/restaurant/Index/@item.RestaurantID">
                        <div class="event_box_wap event_animate_left">
                            <div class="event_box_img">
                                <img src="~/Content/images/home/@imgList[j]" class="img-responsive" alt="Web Design Trends" />
                            </div>
                            <div class="event_box_caption">
                                <h1>@item.RestaurantName</h1>
                                <p>
                                    <span class="glyphicon glyphicon-earphone">
                                    </span>&nbsp;外卖电话：@item.TakeoutPhone &nbsp;<span class="glyphicon glyphicon-saved">
                                    </span>&nbsp;起送份数：@item.SendOutCount
                                </p>
                                <p>
                                    @item.Description
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                j++;
            }
        }
        <div class="clear"></div>
    </div>
</section>

@*<div id="templatemo_timeline" class="container_wapper">
    <h1>吐槽轴</h1>
    <div class="container-fluid">
        @for (int i = 0; i < 8; i++)
        {
            <div class="time_line_wap">
                <div class="time_line_caption">10 days ago</div>
                <div class="time_line_paragraph">
                    <p>
                        <span class="glyphicon glyphicon-user"></span>&nbsp;小江 &nbsp;&nbsp;
                        <span class="glyphicon glyphicon-edit"></span> <a href="#">3 comments</a>
                    </p>
                    <p>不要在同一个元素上同时使用多个插件的 data 属性。例如，button 组件不能同时支持工具提示和控制模态框。如果需要的话，可以在其外面包裹一个额外的元素。</p>
                </div>
            </div>
        }
    </div>
</div>*@
<div class="clear"></div>
<script src="~/Content/js/jquery.singlePageNav.min.js"></script>
<script src="~/Content/js/templatemo_script.js"></script>
<script src="~/Content/js/unslider.min.js"></script>